@media only screen and (min-width: 768px) {
    .markdown-body {
        padding-top: 10px;
        max-width: 66vw;
    }
}

@media only screen and (max-width: 768px) {
    .markdown-body {
        padding-top: 10vw;
        max-width: 88vw;
    }
}