@media only screen and (min-width: 768px) {
    .leftbox {
        padding: 60px 200px;
        width: 60vw;
        min-width: 700px;
        cursor: default;
    }   

    .rightbox {
        padding-top: 50px;
        width: 40vw;
    }

    .title {
        padding-left: 11px;
        cursor: pointer;
    }

    .title:hover {
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .leftbox {
        padding-top: 10vw;
        width: 100%;
        align-items: center;
    }   

    .title {
    padding-left: 8px;
    }
}


.year {
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
}

.time {
    font-size: 18px;
    color: #82817d;
    line-height: 20px;
}

.title {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-family:  KaiTi, FangSong;

}
