html {
    font-family: "FZLanTingHei", "Microsoft YaHei", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

@font-face {
    font-family: WitchParty;
    src: url('/fonts/WitchParty.ttf');
}